{% extends 'base.html.twig' %}

{% block title %}
    Admin des livres | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container mt-4">
        <h1 class="text-center">Administration des livres</h1>
        <a href="{{ path('admin.livres.create') }}" class="btn btn-primary">Créer un livre</a>
        <div class="livre-card-list mt-4">
            {% for livre in livres %}
                {# Customize the card display based on Livre properties #}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ livre.titre }}</h5>
                        <p class="text-muted">Par {{ livre.auteur.nomComplet }}</p>
                        <p class="card-text">{{ livre.description }}</p>
                        <div class="mb-3">
                        {% for categorie in livre.categories %}
                            <!-- Ajout du lien pour chaque catégorie -->
                            <span class="badge bg-secondary p-2">
                                <a href="{{ path('app.categories.show', {id: categorie.id}) }}">{{ categorie.nom }}</a>
                            </span>
                        {% endfor %}
                        </div>
                        <a href="{{ path('admin.livres.update', {'id': livre.id}) }}" class="btn btn-info">Modifier</a>
                        <form action="{{ path('admin.livres.delete', {'id': livre.id}) }}" method="post" class="d-inline">
                            <input type="hidden" name="token" value="{{ csrf_token('delete' ~ livre.id) }}">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer ce livre ?')">Supprimer</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
