<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Bibliothèque de Grenoble</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/" aria-current="page">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app.livres.index') }}">Livres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app.categories.index') }}">Catégories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app.auteurs.index') }}">Auteurs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.livres.index') }}">Admin Livres</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('admin.categories.index') }}">Admin Catégories</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('admin.auteurs.index') }}">Admin Auteurs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
